APP_NAME = "Mini-Rag"
APP_VERSION = "0.1.0"
APP_DESCRIPTION = "A simple RAG (Retrieval-Augmented Generation) application built with FastAPI."
OPENAI_API_KEY = "your-openai-api-key-here"

FILE_ALLOWED_TYPES = 
FILE_MAX_SIZE_MB = 10

FILE_DEFULT_CHUNK_SIZE = 512000   # 512000 bytes = 500 KB, this is a reasonable chunk size for processing files in a RAG application.   